.nav {
    width: 100%;
    height:min-content;
    position: fixed;
    top: 0;
    background-color: #fff;
    line-height: 65px;
    text-align: center;
}
.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    margin: 2px 0 2px 0;
    padding-left: 3rem;
}
.nav div.logo a {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
}
.hamburger{
    float: right;
    margin: 2px 0 2px 0;
    margin-right: 1vw;
}

.hamburger .line{
    width: 50px;
    height: 5px;
    background-color: #000;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
    cursor: pointer;
  }
  
  /* ONE */
  
  #hamburger-1:active .line:nth-child(2){
    opacity: 0;
  }
  
  #hamburger-1:active .line:nth-child(1){
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
  }
  
  #hamburger-1:active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
  }
  
