ul { 
  margin: 0 auto 10vh; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 600px;
  text-align: center;
}
li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
#logo{
  font-size: 30px;
  color: #204b45;
}
.nav-a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.nav-a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}

/*----------------- Footer -----------------*/
.footer-content {
  display: block;
  width: 75vw; 
  margin: 15vh auto 0;
}

hr {
  width: 75vw; 
  display: block; 
  overflow: hidden; 
  border-style: inset; 
  border-width: 1px;
}

.footer-text{
  max-width: 800px;
  font-size: 32px;
  line-height: 42px;
  margin: 15vh 0;
  color: #204b45;
}

.footer-contacts{
  max-width: 800px;
  font-size: 32px;
  line-height: 42px;
  margin: 20vh 0;
}

.footer-email{
  color: #d4603a;
  margin-bottom: 1.4vh;
}
.footer-num{
  color: #204b45;
}